body{
     background: url('galaxy.png') rgb(22, 26, 70) repeat-x;
     background-size: 100%;

}
.r1{
    height: 200px;
    position: absolute;
    top: 350px;
    left: 400px;
    transform: rotate(45deg);
}

.cody{
    height: 250px;
    position: absolute;
    top: 250px;
    left: -15%
}
.chat1,
.chat3{
    position: absolute;
    top: 80px;
    left: 120px;
    height: 200px;
    opacity: 0;
}
.chat2,
.chat4{
    position: absolute;
    top: 230px;
    left: 420px;
    height: 200px;
    opacity: 0;
}